*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  position: relative;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 22rem;
  z-index: 1;
}
nav{
  background: rgb(76,211,194);
  padding: 2rem;
}
.logo{
  display: flex;
  justify-content:center;
  align-items: center;
  color: #fff;
}
.head{
  font-size: 3rem;
}
img{
  width: 4rem;
  transform: rotate(180deg);
}
ul{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
li{
  padding: 1rem;
  list-style: none;
  text-decoration: none
}
a{
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}
.wrapper{
  position: relative;
  padding-top: 20rem;
  
}

.form{
  background: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#email{
  padding: 1.4rem;
  width: 80%;
  max-width: 50rem;
  margin: 1.6rem;
  border-radius: 3rem;
  border: 2px solid #240046;
  outline: none;
  font-size: 2rem;

}
#submit{
  padding: 1.6rem;
  width: 15rem;
  border-radius: 5rem;
  border: none;
  background: rgb(10,151,176);
  color: #fff;
  font-size: 2rem;
  outline: none;
  transition: .2s all ease;

}
#submit:hover,#submit:active{
  opacity: .8;
  transform: scale(1.1);
}
h1{
  font-size: 2.1rem;
  margin-top: 3rem;
}
footer{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  background: rgb(76,211,194);
  padding:1rem;
  color: #fff;
}
#Working{
  display: flex;
  justify-content: center;
  padding: 3rem;
}
#Features{
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: 3rem;
  text-align: center;
}

.text{
  font-size: 1.6rem;
}
h2{
  text-transform: uppercase;
}
.text p{
  padding: 2rem 0;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1.6;
}
#Pricing{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-card{
  box-shadow: 2px 2px 12px lightgray;
  margin: 2rem 0;
  text-align: center;
  border-radius: 1rem;
}
.product-head{
  background: rgb(10, 151, 176);
  color: #fff;
  padding: 1.8rem;
  font-size: 3.2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;	
}
.product-card p.specs{
  padding: 1rem;
  font-size: 1.8rem;
}
.price{
  padding: 2rem;
  font-weight: 800;
  font-size: 2.6rem;
}
.btn{
  margin: 2rem;
  padding: 1.4rem 3rem;
  border: none;
  background: rgb(10, 151, 176);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  transition: .2s all ease-in-out;
}
.btn:hover,.btn:active{
  opacity: .6;
}
@media only screen and (min-width: 720px){
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img{
    width: 6rem;
  }
  .nav-links{
    width: 45%;
  }
  ul{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:0;
  }
  .wrapper{
   padding-top: 8rem; 
    width: 80%;
    max-width: 112.6rem;
    margin: 0 auto;
  }
  h1{
    font-size: 4rem;
    padding: 2rem;
  }
  .icon{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 8rem;
  }
  #Features{
    grid-template-columns:10% 90%;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 3rem;
  }
  .text{
    text-align: start;
  }
  #Pricing{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .product-card{
    flex: 1;
    margin-right: 2rem;
  }
  .product-card:nth-child(3){
    margin-right: 0;
  }
  .specs{
    height: 4.1rem;
    margin-top: .8rem;
  }
  .btn{
    margin-top: 4rem;
  }
}